Repository otajisan/automated-code-review-on-circleci: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-claude-code-docker, build-nodejs-example

fix: token check scripts
  .circleci/modules/jobs/claude-pr-analysis.yml
  docker/scripts/automated-code-review.sh
  docker/scripts/generate-pr-summary.sh
  docker/scripts/verify-claude-code-token.sh
  docker/scripts/verify-github-token.sh
Due: build-claude-code-docker

fix: pr summary and code review automator review comments
  .circleci/modules/jobs/claude-pr-analysis.yml
  docker/README.md
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

fix: extra codes
  .circleci/modules/jobs/claude-pr-analysis.yml
  .circleci/modules/workflows/claude-code-docker.yml
  .circleci/modules/workflows/nodejs-example.yml
  docker/scripts/automated-code-review.sh
  docker/scripts/generate-pr-summary.sh
  docker/scripts/verify-api-tokens.sh
  docker/scripts/verify-claude-code-token.sh
  docker/scripts/verify-github-token.sh
Due: build-claude-code-docker

fix: error
  .circleci/modules/workflows/nodejs-example.yml
Due: none

fix: script name
  docker/scripts/automated-code-review.sh
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

fix: pr summary and code review automator review comments (#3)
  .circleci/modules/jobs/claude-pr-analysis.yml
  .circleci/modules/workflows/claude-code-docker.yml
  docker/README.md
  docker/scripts/automated-code-review.sh
  docker/scripts/generate-pr-summary.sh
  docker/scripts/verify-api-tokens.sh
  docker/scripts/verify-claude-code-token.sh
  docker/scripts/verify-github-token.sh
Due: build-claude-code-docker

Feature/pr summary (#2)
  .circleci/config.yml
  .circleci/modules/base.yml
  .circleci/modules/jobs/build-nodejs-example.yml
  .circleci/modules/jobs/claude-pr-analysis.yml
  .circleci/modules/workflows/nodejs-example.yml
  docker/Dockerfile
  docker/README.md
  docker/scripts/automated-code-review.sh
  docker/scripts/generate-pr-summary.sh
  docker/scripts/verify-api-tokens.sh
  nodejs-example/README.md
  nodejs-example/index.js
  nodejs-example/package.json
Due: build-claude-code-docker, build-nodejs-example

fix: do not post comment if already exists
  docker/README.md
  docker/scripts/automated-code-review.sh
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

add: Docker test build step
  .circleci/modules/workflows/claude-code-docker.yml
Due: none

fix: doker build workflow
  .circleci/modules/workflows/claude-code-docker.yml
Due: none

fix #4: do not post comment if already exists (#5)
  .circleci/modules/workflows/claude-code-docker.yml
  docker/README.md
  docker/scripts/automated-code-review.sh
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

fix #6: add inline code review comments script
  docker/scripts/automated-code-review.sh
  docker/scripts/automated-inline-review.sh
Due: build-claude-code-docker

fix: use inline code review only in this repository
  .circleci/modules/jobs/claude-pr-analysis.yml
  docker/README.md
  docker/scripts/automated-code-review.sh
Due: build-claude-code-docker

fix #6: add inline code review comments script (#7)
  .circleci/modules/jobs/claude-pr-analysis.yml
  docker/README.md
  docker/scripts/automated-code-review.sh
  docker/scripts/automated-inline-review.sh
Due: build-claude-code-docker

add: dockerignore
  docker/.dockerignore
Due: build-claude-code-docker

fix: review comments
  docker/.dockerignore
Due: build-claude-code-docker

Path conditions:
  build-claude-code-docker: any of: docker/.*
  build-nodejs-example: any of: nodejs-example/.*
