Repository otajisan/automated-code-review-on-circleci: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-claude-code-docker, build-nodejs-example

.circleci/config.yml:

version: 2.1

# Enable dynamic config using setup workflows
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

jobs:
  setup:
    docker:
      - image: cimg/go:1.21
    steps:
      - checkout
      - run:
          name: Install yq4
          command: |
            go install github.com/mikefarah/yq/v4@latest
            yq --version
      - run:
          name: Merge config files
          command: |
            mkdir -p /tmp/workspace
            yq eval-all '. as $item ireduce ({}; . * $item )' .circleci/modules/*.yml .circleci/modules/*/*.yml > /tmp/workspace/publish.yml
            cat /tmp/workspace/publish.yml
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - publish.yml

workflows:
  generate-config:
    jobs:
      - setup
      - path-filtering/filter:
          requires:
            - setup
          pre-steps:
            - attach_workspace:
                at: /tmp/workspace
          base-revision: origin/main
          config-path: /tmp/workspace/publish.yml
          mapping: |
            docker/.* build-claude-code-docker true
            nodejs-example/.* build-nodejs-example true

add: pr summary creator
  .circleci/modules/jobs/claude-pr-analysis.yml
  .circleci/modules/workflows/nodejs-example.yml
Due: none

fix: claude commands
  .circleci/modules/jobs/claude-pr-analysis.yml
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

fix: scirpt path
  .circleci/modules/jobs/claude-pr-analysis.yml
  docker/README.md
Due: build-claude-code-docker

fix: pr summary generator
  .circleci/modules/workflows/nodejs-example.yml
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

fix: claude code docker build pipeline temporary
  .circleci/modules/workflows/claude-code-docker.yml
Due: none

revert: working branch
  .circleci/modules/workflows/claude-code-docker.yml
Due: none

fix: work directory
  .circleci/modules/jobs/claude-pr-analysis.yml
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

fix: json format
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

fix: file permission
  .circleci/modules/jobs/claude-pr-analysis.yml
  .circleci/modules/workflows/claude-code-docker.yml
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

fix: base branch
  .circleci/modules/workflows/claude-code-docker.yml
Due: none

fix: summarize script
  .circleci/modules/workflows/claude-code-docker.yml
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

add: show pr summary
  .circleci/modules/workflows/claude-code-docker.yml
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

add: comment
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

fix: change script path
  .circleci/modules/jobs/claude-pr-analysis.yml
Due: none

add: setup_remote_docker configuration
  .circleci/modules/jobs/claude-pr-analysis.yml
  docker/Dockerfile
Due: build-claude-code-docker

fix: base image for calude code docker
  docker/Dockerfile
Due: build-claude-code-docker

fix: root permission
  docker/Dockerfile
Due: build-claude-code-docker

add: root permission to npm install
  docker/Dockerfile
Due: build-claude-code-docker

misc
  nodejs-example/index.js
Due: build-nodejs-example

tmp: debug command
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

tmp: simple prompt
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

fix: which claude
  .circleci/modules/jobs/claude-pr-analysis.yml
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

fix: review scripts
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

fix: claude command to curl
  .circleci/modules/jobs/claude-pr-analysis.yml
  docker/Dockerfile
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

fix: revert to claude command
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

fix: mistake of claude command
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

fix: curl debug commands
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

fix: revert to interactive command
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

fix: CI config
  .circleci/modules/jobs/claude-pr-analysis.yml
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

fix: environment variables
  .circleci/modules/jobs/claude-pr-analysis.yml
Due: none

fix: claude command by stdin
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

fix: github request json to file
  docker/scripts/generate-pr-summary.sh
Due: build-claude-code-docker

add: automated review script
  .circleci/modules/jobs/claude-pr-analysis.yml
  docker/scripts/automated-code-review.sh
Due: build-claude-code-docker

fix: change script permission
  docker/scripts/automated-code-review.sh
Due: build-claude-code-docker
